@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{

  --principal: #16805c;
  --secondary: #3E3E3E;
  --terciary: #78ebc5;
  --preto: #232323;
  --cinza: #c0c0c0;
  --branco: #f1f1f1;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: "Ubuntu", sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: var(--preto);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerAAAA{
  height: 90vh;
  width: 80vw;
  background-color: var(--secondary);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mainAAAA{
  min-height: 720px;
  display: flex;
}
